.x-grid3-row-alt {
    background-color: #DDDDDD;
}

.x-grid3-row-over {
    background-color: #EEEEEE;
}

.STOPPED, .ABORTED {
    background:url(img/red.png) 2px no-repeat !important;
}

.STOPPING, .ABORTING {
    background:url(img/yellow.png) 2px no-repeat !important;
}

.RUNNING {
    background:url(img/green.png) 2px no-repeat !important;
}
