<%!
from gdtlive.constants import DIR_STR
from gdtlive.core.constants import TRADE_STR, CONNECTION_STATE
import gdtlive.core.datafeed.historic as historic

def trade_link(id, text):
	return "<a href='/trade?id=%d'>%s</a>" % (id, text)

%>
<html>
<head>
<title>Account View</title>
<style type="text/css">
	body {font-family: 'arial'; font-size:40px}
	table {
		border: 1px solid black;
		border-collapse:collapse;
		font-size:40px;
		}
	.portfolio {font-size:56px; background-color:#77AA77}
	.subtitle {font-size:40px}
	.account_row {font-size:40px; background-color:#99BB99}
	 a {color:#000000;} 
	.trade_row1 { background-color:#AACCAA}	
	.trade_row2 { background-color:#AAEEAA}
	.log1 { background-color:#EEEEEE}	
	.log2 { background-color:#BBBBBB}	
	.red { background-color:red}
</style>

<script type='text/javascript'> 

function GET(url) {
	var req = new XMLHttpRequest();
	req.open("GET", url, false);
	req.send(null);
	
	if (req.status == 200) {
		return eval('('+req.responseText+')');
	}
	return {"msg": "Failed", "success": false}
}


function closeall_trades(portfolio_id, account_id, trade_ids) {
	var conf = confirm('Close trades '+trade_ids+' ?');
	if (conf) {
		result = GET('/web/trades_close?portfolio_id='+portfolio_id+'&account_id='+account_id+'&ids='+trade_ids);
		alert(result['msg']);
		location.reload()
	}		
}

function stop_account(portfolio_id, account_id) {
	var conf = confirm('Stop account ?');
	if (conf) {
		result = GET('/web/stop_account?portfolio_id='+portfolio_id+'&ids=['+account_id+']');
		alert(result['msg']);
		location.reload()
	}
}

function abort_account(portfolio_id, account_id) {
	var conf = confirm('Abort account ?');
	if (conf) {
		result = GET('/web/abort_account?portfolio_id='+portfolio_id+'&ids=['+account_id+']');
		alert(result['msg']);
		location.reload()
	}
}



</script>
</head>
<body onload='${ '' if not reload_freq else 'window.setTimeout("location.reload()", %d);' % (reload_freq*1000) }'>
<table width=100%><tr><td align=left><h2><a href='/m'>Back to portfolio</a></h2></td><td align=center></td><td align=right>
% if info:
	% if not info['benchmark']:
	<h2><a href='/m/fix?portfolio_id=${portfolio_id}&account_id=${account_id}'>FIX</a></h2>
	% endif
	</td></tr></table>
	<table width=100%>
		<tr><td>Name</td><td>${info['name']}</td></tr>
		<tr><td>State</td><td>${info['state']}</td></tr>
		<tr><td>Connection</td><td>${CONNECTION_STATE[info['connection_state']]}</td></tr>
		<tr><td>Open trades</td><td>${info['open_trades']}</td></tr>
		<tr><td>Floating</td><td>$ ${round(info['floating_profit'],1)}</td></tr>
		<tr valign=top><td>Symbol</td><td>Exposure - Price</td></tr>	
		% for symbol, exposure in info['exposure'].items():
			<tr><td align=center>${symbol}</td><Td>&nbsp;${int(exposure)}&nbsp;&nbsp;-&nbsp;&nbsp;${historic.CURRENT_PRICE[symbol]['ASK']} / ${historic.CURRENT_PRICE[symbol]['BID']}</tr>
		% endfor
	</table>
	<input type=button value='STOP' onclick='stop_account(${portfolio_id}, ${account_id});' class='subtitle'>
	<input type=button value='ABORT' onclick='abort_account(${portfolio_id}, ${account_id});' class='subtitle'> 
	<input type=button value='CLOSE ALL' onclick='closeall_trades(${portfolio_id}, ${account_id}, "${str([t['id'] for t in trades])}");' class='subtitle'>
	
	<table width=100% style='margin:40px 10px'>				
	% for trade in trades:
			<tr class=${loop.cycle('trade_row1', 'trade_row2')} onclick='location="${"/m/trade?portfolio_id=%d&account_id=%d&trade_id=%d" % (portfolio_id, account_id, trade['id'])}"'>
				<td>${trade['id']}</td>
				<td class='${"red" if state in ['OPENING', 'CLOSING'] else ""}'>${TRADE_STR[trade['state']]}</td>
				<td>${trade['symbol']}</a></td>
				<td>${DIR_STR[trade['direction']]}</a></td>			
				<td class='${"red" if floating < 0 else ""}'>$ ${round(trade['floating_profit'], 1)}</td>			
				
			</tr>
			<tr class=${loop.cycle('trade_row1', 'trade_row2')}>
				<td>&nbsp;</td>
				<td colspan=2>${trade['open_time'].strftime('%Y-%m-%d %H:%M')}</td>			
				<td colspan=1>${trade['amount']} @ ${trade['open_price']}</td>
				<td></td>									
			</tr>
			<tr><td>&nbsp;</td></tr>
	% endfor
	</table>
	<center>
	<h4>${{0: 'DEBUG', 1:'INFO',2:'WARNING'}[logtype]}&nbsp;LOGS<br><br>
	% for logtype_id, logtype_text in {0: 'DEBUG', 1:'INFO',2:'WARNING'}.items():
		<a href='/m/account?portfolio_id=${portfolio_id}&account_id=${account_id}&logtype=${logtype_id}'>${logtype_text}</a>&nbsp;&nbsp;&nbsp;
	% endfor
	</h4>
	</center>
	<table width=100% style='padding:40px 10px; font-size:30px'>
	% for entry in logs:	
		<tr class="${loop.cycle('log1', 'log2')} ${'' if entry[1] in ['INFO', 'DEBUG'] else 'red'}"><td>${entry[0]}&nbsp;</td><td>${entry[1]}&nbsp;</td><td>${entry[2]}</td></tr>		
	% endfor
	</table>
% else:
	Account is not available, plase go back to portfolio!
% endif
</body>
</html>


