<%!
from gdtlive.core.constants import CONNECTION_STATE
import gdtlive.core.datafeed.historic as historic

%>
<html>
<head>
<title>Account View</title>
<style type="text/css">
	body {font-family: 'arial'; font-size:40px}
	table {
		border: 1px solid black;
		border-collapse:collapse;
		font-size:40px;
		}
	.portfolio {font-size:56px; background-color:#77AA77}
	.subtitle {font-size:40px}
	.account_row {font-size:40px; background-color:#99BB99}
	 a {color:#000000;} 
	.row1 { background-color:#AACCAA}	
	.row2 { background-color:#AAEEAA}
	.log1 { background-color:#EEEEEE}	
	.log2 { background-color:#BBBBBB}	
	.red { background-color:red}
</style>
<script type='text/javascript'>

function GET(url) {
	var req = new XMLHttpRequest();
	req.open("GET", url, false);
	req.send(null);
	
	if (req.status == 200) {
		return eval('('+req.responseText+')');
	}
	return {"msg": "Failed", "success": false}
}

	function shutdown(portfolio_id, account_id) {
		var conf = confirm('Shutdown FIX account ?');
		if (conf) {
			result = GET('/web/engine_disconnect?portfolio_id='+portfolio_id+'&account_id='+account_id);
			alert(result['msg']);
			location.reload()
		}
	}
	
	function connection_check(portfolio_id, account_id) {		
		result = GET('/web/engine_connect?portfolio_id='+portfolio_id+'&account_id='+account_id);
		alert(result['msg']);
		location.reload()		
	}
</script>
</head>
<body onload='${ '' if not reload_freq else 'window.setTimeout("location.reload()", %d);' % (reload_freq*1000) }'>
<table width=100%>
<tr>
	<td align=left><h2><a href='/m/account?portfolio_id=${portfolio_id}&account_id=${account_id}'>Back</a></h2></td>
	<td align=right><input type=button value='Connection check' onclick='connection_check(${portfolio_id}, ${account_id});' class='subtitle'></td>
	<td align=right><input type=button value='Shutdown' onclick='shutdown(${portfolio_id}, ${account_id});' class='subtitle'></td>
</tr>
</table>
<table width=100%>
% for k, v in info.items(): 
	<tr class="${loop.cycle('row1', 'row2')}"><td>${k}</td><td>${v}</td></tr>
% endfor
</table>
<h4>${{0: 'DEBUG', 1:'INFO',2:'WARNING'}[logtype]}&nbsp;LOGS&nbsp;&nbsp;&nbsp;&nbsp;
% for logtype_id, logtype_text in {0: 'DEBUG', 1:'INFO',2:'WARNING'}.items():
	<a href='/m/fix?portfolio_id=${portfolio_id}&account_id=${account_id}&logtype=${logtype_id}'>${logtype_text}</a>&nbsp;&nbsp;&nbsp;
% endfor
</h4>
<table width=100% style='padding:40px 10px; font-size:30px'>
% for entry in logs:	
	<tr class="${loop.cycle('log1', 'log2')} ${'' if entry[1] in ['INFO', 'DEBUG'] else 'red'}"><td>${entry[0]}&nbsp;</td><td>${entry[1]}&nbsp;</td><td>${entry[2]}</td></tr>		
% endfor
</table>
</body>
</html>


