<%!
import gdtlive.constants 
from gdtlive.core.constants import TRADE_STR, CONNECTION_STATE

def trade_link(id, text):
	return "<a href='/m/trade?id=%d'>%s</a>" % (id, text)

def account_link(portfolio_id, account_id, text):
	return "<a href='/m/account?portfolio_id=%d&account_id=%d'>%s</a>" % (portfolio_id, account_id, text)

%>
<html>
<head>
<title>LIVE</title>
<style type="text/css">
	body {font-family: 'arial'; }
	table {
		border: 1px solid black;
		border-collapse:collapse;
		}
	.portfolio {font-size:62px; background-color:#77AA77}
	.subtitle {font-size:40px}
	.account_row {font-size:56px; background-color:#AADDAA}
	 a {color:#000000;} 
	.trade_row {font-size:40px}	
	.red {color:red}
</style>

<script type='text/javascript'> 

function GET(url) {
	var req = new XMLHttpRequest();
	req.open("GET", url, false);
	req.send(null);
	
	if (req.status == 200) {
		return eval('('+req.responseText+')');
	}
	return {"msg": "Failed", "success": false}
}


function stop_portfolio(portfolio_id, name) {
	var conf = confirm('Stop portfolio '+name+'?');
	if (conf) {
		result = GET('/web/stop_portfolio?ids=['+portfolio_id+']');
		alert(result['msg']);
		location.reload()
	}
}

function abort_portfolio(portfolio_id, name) {
	var conf = confirm('Abort portfolio '+name+'?');
	if (conf) {
		result = GET('/web/abort_portfolio?ids=['+portfolio_id+']');
		alert(result['msg']);
		location.reload()
	}
}
</script>

</head>
<body onload='${ '' if not reload_freq else 'window.setTimeout("location.reload()", %d);' % (reload_freq*1000)}'>
<table width=100% style='padding:40px 10px'>
% for portfolio_id in trades.keys():
	<tr class='portfolio'><td colspan=4>${portfolios[portfolio_id]['name']}</td><td><input type=button class='subtitle' onclick='abort_portfolio(${portfolio_id}, "${portfolios[portfolio_id]['name']}");' value='ABORT'></td><td><input type=button class='subtitle' value='STOP' onclick='stop_portfolio(${portfolio_id}, "${portfolios[portfolio_id]['name']}");'></td></tr>		
%		for account_id in sorted(trades[portfolio_id]):
			<tr class='account_row' onclick='location="${"/m/account?portfolio_id=%d&account_id=%d" % (portfolio_id, account_id)}"'>
				<td>&nbsp;</td>
				<td colspan=3>${accounts[account_id]['name']}</td>
				<td colspan=1>${accounts[account_id]['state']}</td>
				<Td class='${"red" if accounts[account_id]['floating_profit'] < 0 else ""}'>$ ${round(accounts[account_id]['floating_profit'],1)}</td>
			</tr>
			<tr><td colspan=10>&nbsp;</td></tr>			
%			for trade in trades[portfolio_id][account_id]:
				<tr class='trade_row' >
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>${trade['id']}</td>
					<td>${trade['symbol']}</a></td>
					<td class='${"red" if state in ['OPENING', 'CLOSING'] else ""}'>${trade['state']}</td>
					<td class='${"red" if floating < 0 else ""}'>$ ${round(trade['floating_profit'],1)}</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
%			endfor
%		endfor
% endfor
</table>
</body>
</html>

