<%!
from gdtlive.constants import DIR_STR
from gdtlive.core.constants import TRADE_STR, CONNECTION_STATE, ORDER_RESEND_COUNT
from gdtlive.core.trade import CONDORDER_STATES, MARKETORDER_STATES
import gdtlive.core.datafeed.historic as historic

def trade_link(id, text):
	return "<a href='/trade?id=%d'>%s</a>" % (id, text)

%>
<html>
<head>
<title>Account View</title>
<style type="text/css">
	body {font-family: 'arial'; font-size:40px}
	table {
		border: 1px solid black;
		border-collapse:collapse;
		font-size:40px;
		}
	.portfolio {font-size:56px; background-color:#77AA77}
	.subtitle {font-size:40px}
	.account_row {font-size:40px; background-color:#99BB99}
	 a {color:#000000;} 
	.row1 { background-color:#AACCAA}	
	.row2 { background-color:#AAEEAA}
	.log1 { background-color:#EEEEEE}	
	.log2 { background-color:#BBBBBB}	
	.red { background-color:red}
</style>
<script type='text/javascript'> 

function GET(url) {
	var req = new XMLHttpRequest();
	req.open("GET", url, false);
	req.send(null);
	
	if (req.status == 200) {
		return eval('('+req.responseText+')');
	}
	return {"msg": "Failed", "success": false}
}


function trade_close(portfolio_id, account_id, trade_id) {
	var conf = confirm('Close Trade #'+trade_id+'?');
	if (conf) {
		result = GET('/web/trade_close?portfolio_id='+portfolio_id+'&account_id='+account_id+'&trade_id='+trade_id);
		alert(result['msg']);
		location.reload()
	}		
}

function trade_repair(portfolio_id, account_id, trade_id) {
	var conf = confirm('Repair Trade #'+trade_id+'?');
	if (conf) {
		result = GET('/web/trade_repair?portfolio_id='+portfolio_id+'&account_id='+account_id+'&trade_id='+trade_id);
		alert(result['msg']);
		location.reload()
	}		
}

function trade_mark_closed(portfolio_id, account_id, trade_id) {
	var conf = confirm('Mark as "Closed" Trade #'+trade_id+'?');
	if (conf) {
		result = GET('/web/trade_markasclosed?portfolio_id='+portfolio_id+'&account_id='+account_id+'&trade_id='+trade_id);
		alert(result['msg']);
		location.reload()
	}		
}

function mo_send_open(portfolio_id, account_id, trade_id) {
	var conf = confirm('Send Open MO for Trade #'+trade_id+'?');
	if (conf) {
		result = GET('/web/trade_mo_sendopen?portfolio_id='+portfolio_id+'&account_id='+account_id+'&trade_id='+trade_id);
		alert(result['msg']);
		location.reload()
	}		
}

function mo_send_close(portfolio_id, account_id, trade_id) {
	var conf = confirm('Send Close MO for Trade #'+trade_id+'?');
	if (conf) {
		result = GET('/web/trade_mo_sendclose?portfolio_id='+portfolio_id+'&account_id='+account_id+'&trade_id='+trade_id);
		alert(result['msg']);
		location.reload()
	}		
}

function co_place(portfolio_id, account_id, trade_id, co_type, cotype_str) {
	var conf = confirm('Place '+cotype_str+' for Trade #'+trade_id+'?');
	if (conf) {
		result = GET('/web/trade_co_place?portfolio_id='+portfolio_id+'&account_id='+account_id+'&trade_id='+trade_id+'&co_type='+co_type);
		alert(result['msg']);
		location.reload()
	}		
}

function co_cancel(portfolio_id, account_id, trade_id, co_type, cotype_str) {
	var conf = confirm('Cancel '+cotype_str+' for Trade #'+trade_id+'?');
	if (conf) {
		result = GET('/web/trade_co_cancel?portfolio_id='+portfolio_id+'&account_id='+account_id+'&trade_id='+trade_id+'&co_type='+co_type);
		alert(result['msg']);
		location.reload()
	}		
}

function co_mark_filled(portfolio_id, account_id, trade_id, co_type, cotype_str) {
	var conf = confirm('Mark '+cotype_str+' as filled for Trade #'+trade_id+'?');
	if (conf) {
		result = GET('/web/trade_co_cancel?portfolio_id='+portfolio_id+'&account_id='+account_id+'&trade_id='+trade_id+'&co_type='+co_type);
		alert(result['msg']);
		location.reload()
	}		
}


</script>
</head>
<body onload='${ '' if not reload_freq else 'window.setTimeout("location.reload()", %d);' % (reload_freq*1000) }'>
<table width=100%>
	<tr><td>${account['name']}</td><td>${CONNECTION_STATE[account['connection_state']]}</td></tr>	
</table>
<table width=100%><tr><td>
<h2><a href='/m/account?portfolio_id=${portfolio_id}&account_id=${account_id}'>Back to Account</a></h2>
</td><td align=right>
% if trade:
<h2><a href='/m/trade_messages?portfolio_id=${portfolio_id}&account_id=${account_id}&trade_id=${trade['id']}'>FIX Messages</a></h2>
% endif
</td></tr></table>

% if trade:
	<table width=100% style='margin:40px 10px'>				
	<tr class='row1'><td>ID</td><td>${trade['id']}</td></tr>
	<tr class='row2'><td>State</td><td>${TRADE_STR[trade['state']]}</td></tr>
	<tr class='row1'><td>Symbol</td><td>${trade['symbol']}</td></tr>
	<tr class='row2'><td>Direction</td><td>${DIR_STR[trade['direction']]}</td></tr>
	<tr class='row1'><td>Amount</td><td>${trade['amount']}</td></tr>
	<tr class='row2'><td>Time</td><td>${trade['open_time'].strftime('%Y-%m-%d %H:%M')}</td></tr>
	<tr class='row1'><td>Price</td><td>${trade['open_price']}</td></tr>
	<tr class='row2'><td>Stoploss</td><td>${trade['sl_price']}</td></tr>
	<tr class='row1'><td>Takeprofit</td><td>${trade['tp_price']}</td></tr>
	<tr class='row2'><td>Floating</td><td>${round(trade['floating_profit'],1)} $</td></tr>
	<tr class='row1'><td>MAE</td><td>${round(trade['MAE'],1)} $</td></tr>
	<tr class='row2'><td>MFE</td><td>${round(trade['MFE'],1)} $</td></tr>
	</table>
	<input type=button onclick="trade_close(${portfolio_id}, ${account_id}, ${trade['id']});" value='CLOSE TRADE' style='font-size: 40px;'>
	<input type=button onclick="trade_repair(${portfolio_id}, ${account_id}, ${trade['id']});" value='REPAIR' style='font-size: 40px;'>
	<input type=button onclick="trade_mark_closed(${portfolio_id}, ${account_id}, ${trade['id']});" value='MARK CLOSED' style='font-size: 40px;'>
	<br><br>
% if 'market_order' in trade:
	<center>MARKET ORDER</center>
	<table width=100%>
	<tr class='row1'><td>ID</td><td>${trade['market_order']['id']}</td></tr>
	<tr class='row1'><td>State</td><td>${MARKETORDER_STATES[trade['market_order']['state']]}</td></tr>
	<tr class='row1'><td colspan=2 align=center>OPEN</td></tr>
	<tr class='row1'><td>Price</td><td>${trade['market_order']['open_price']}</td></tr>
	<tr class='row1'><td>Direction</td><td>${DIR_STR[trade['market_order']['open_direction']]}</td></tr>
	<tr class='row1'><td>Sent</td><td>${trade['market_order']['open_send_time']}</td></tr>
	<tr class='row1'><td>Fill</td><td>${trade['market_order']['open_fill_time']}</td></tr>
	<tr class='row1'><td>ClordID</td><td>${trade['market_order']['open_clordid']}</td></tr>
	<tr class='row1'><td>Reject count</td><td>${trade['market_order']['open_reject_count'] - ORDER_RESEND_COUNT}</td></tr>
% if trade['market_order']['close_send_time']: 
	<tr class='row1'><td colspan=2 align=center>CLOSE</td></tr>
	<tr class='row1'><td>Price</td><td>${trade['market_order']['close_price']}</td></tr>
	<tr class='row1'><td>Direction</td><td>${DIR_STR[trade['market_order']['close_direction']]}</td></tr>
	<tr class='row1'><td>Sent</td><td>${trade['market_order']['close_send_time']}</td></tr>
	<tr class='row1'><td>Fill</td><td>${trade['market_order']['close_fill_time']}</td></tr>
	<tr class='row1'><td>ClordID</td><td>${trade['market_order']['close_clordid']}</td></tr>
	<tr class='row1'><td>Reject count</td><td>${trade['market_order']['close_reject_count'] - ORDER_RESEND_COUNT}</td></tr>
% endif
% if trade['market_order']['correction_send_time']: 
	<tr class='row1'><td colspan=2 align=center>CORRECTION</td></tr>
	<tr class='row1'><td>Amount</td><td>${trade['market_order']['correction_amount']}</td></tr>
	<tr class='row1'><td>Direction</td><td>${DIR_STR[trade['market_order']['correction_direction']]}</td></tr>
	<tr class='row1'><td>Sent</td><td>${trade['market_order']['correction_send_time']}</td></tr>
	<tr class='row1'><td>Fill</td><td>${trade['market_order']['correction_fill_time']}</td></tr>
	<tr class='row1'><td>ClordID</td><td>${trade['market_order']['correction_clordid']}</td></tr>
	<tr class='row1'><td>Reject count</td><td>${trade['market_order']['correction_reject_count'] - ORDER_RESEND_COUNT}</td></tr>
% endif
	</table>
	<input type=button onclick="mo_send_open(${portfolio_id}, ${account_id}, ${trade['id']});" value='SEND OPEN' style='font-size: 40px;'>
	<input type=button onclick="mo_send_close(${portfolio_id}, ${account_id}, ${trade['id']});" value='SEND CLOSE' style='font-size: 40px;'>
	<br><br>
%for co_type, order in enumerate(['stoploss', 'takeprofit']):
	% if trade[order]['state'] != -1:	 
		<center>${order.upper()} ORDER</center>
		<table width=100%>
		<tr class='row1'><td>ID</td><td>${trade[order]['id']}</td></tr>
		<tr class='row1'><td>State</td><td>${CONDORDER_STATES[trade[order]['state']]}</td></tr>
		<tr class='row1'><td colspan=2 align=center>ENTRY</td></tr>
		<tr class='row1'><td>Sent</td><td>${trade[order]['entry_sent_time']}</td></tr>
		<tr class='row1'><td>Price</td><td>${trade[order]['entry_price']}</td></tr>
		<tr class='row1'><td>ClOrdID</td><td>${trade[order]['entry_clordid']}</td></tr>
		<tr class='row1'><td>Retries</td><td>${trade[order]['entry_retries_count'] - ORDER_RESEND_COUNT}</td></tr>
		% if trade[order]['fill_time']:
			<tr class='row1'><td colspan=2 align=center>FILL</td></tr>
			<tr class='row1'><td>Amount</td><td>${trade[order]['filled_amount']}</td></tr>
			<tr class='row1'><td>Price</td><td>${trade[order]['fill_price']}</td></tr>
			<tr class='row1'><td>Time</td><td>${trade[order]['fill_time']}</td></tr>
		% endif
		% if trade[order]['cancel_sent_time']:
			<tr class='row1'><td colspan=2 align=center>CANCEL</td></tr>
			<tr class='row1'><td>Sent</td><td>${trade[order]['cancel_sent_time']}</td></tr>
			<tr class='row1'><td>Canceled</td><td>${trade[order]['canceled_time']}</td></tr>	
			<tr class='row1'><td>ClOrdID</td><td>${trade[order]['cancel_clordid']}</td></tr>
			<tr class='row1'><td>Retries</td><td>${trade[order]['cancel_retries_count'] - ORDER_RESEND_COUNT}</td></tr>
		% endif
		</table>
		<input type=button onclick="co_place(${portfolio_id}, ${account_id}, ${trade['id']},${co_type},'${order}');" value='PLACE' style='font-size: 40px;'>
		<input type=button onclick="co_cancel(${portfolio_id}, ${account_id}, ${trade['id']},${co_type},'${order}');" value='CANCEL' style='font-size: 40px;'>
		<input type=button onclick="co_mark_filled(${portfolio_id}, ${account_id}, ${trade['id']},${co_type},'${order}');" value='MARK FILLED' style='font-size: 40px;'>
		<input type=button onclick="" value='MARK CANCELED' style='font-size: 40px;'>
		<br><br>
	% endif	
%endfor	
% endif

% else:
	<br><br>
	<center>TRADE CLOSED!
	<br>
	please hit the Back button...
	</center> 
% endif


##		<tr class=${loop.cycle('trade_row1', 'trade_row2')}>
##			<td>${trade_link(trade['id'], str(trade['id']))}</td>
##			<td class='${"red" if state in ['OPENING', 'CLOSING'] else ""}'>${trade_link(trade['id'], )}</td>
##			<td>${trade_link(trade['id'], trade['symbol'])}</a></td>
##			<td>${trade_link(trade['id'], )}</a></td>			
##			<td class='${"red" if floating < 0 else ""}'>$ ${round(trade['floating_profit'], 1)}</td>			
			
##		</tr>
##		<tr class=${loop.cycle('trade_row1', 'trade_row2')}>
##			<td>&nbsp;</td>
##			<td colspan=2>${trade['open_time'].strftime('%Y-%m-%d %H:%M')}</td>			
##			<td colspan=1>${trade['amount']} @ ${trade['open_price']}</td>
##			<td></td>									
##		</tr>
##		<tr><td>&nbsp;</td></tr>
</body>
</html>


