<%!
from gdtlive.constants import DIR_STR
from gdtlive.core.constants import TRADE_STR, CONNECTION_STATE, ORDER_RESEND_COUNT
from gdtlive.core.trade import CONDORDER_STATES, MARKETORDER_STATES
import gdtlive.core.datafeed.historic as historic
%>
<html>
<head>
<title>Trade FIX Messages</title>
<style type="text/css">
	body {font-family: 'arial'; font-size:40px}
	table {
		border: 1px solid black;
		border-collapse:collapse;
		font-size:40px;
		}
	.portfolio {font-size:56px; background-color:#77AA77}
	.subtitle {font-size:40px}
	.account_row {font-size:40px; background-color:#99BB99}
	 a {color:#000000;} 
	.row1 { background-color:#AACCAA}	
	.row2 { background-color:#AAEEAA}
	.log1 { background-color:#EEEEEE}	
	.log2 { background-color:#BBBBBB}	
	.red { background-color:red}
</style>
<script type='text/javascript'> 
</script>
</head>
<body>
<h2><a href='/m/trade?portfolio_id=${portfolio_id}&account_id=${account_id}&trade_id=${trade_id}'>Back to Trade</a></h2>

<table width=100%>
% for k in reversed(sorted(messages)):
	<tr class=${loop.cycle('row1', 'row2')}><Td>${k} ${'<br>'.join(messages[k].split(','))}</td></tr>
% endfor
</table>

</body>
</html>


